<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="static/index.css"/>
  <title>MVBT-Decryptor</title>

     <script>
      function c1() {

        var copyText = document.getElementById("after_vigenere");

        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
        
        var tooltip = document.getElementById("myTooltip1");
        tooltip.innerHTML = "Copied: " + copyText.value;
    }

    function c2() {

        var copyText = document.getElementById("vignere_to_dsa_enc");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
        
        var tooltip = document.getElementById("myTooltip2");
        tooltip.innerHTML = "Copied: " + copyText.value;
    }

    function c3() {

      var copyText = document.getElementById("og_inp");

        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
        
        var tooltip = document.getElementById("myTooltip3");
        tooltip.innerHTML = "Copied: " + copyText.value;
    }
    </script>
</head>

<body>

  <form method="POST" action="/output">
  
  
  <div class="split left">
    <div class="centered">
      <h1 style="color:white">INPUT</h1>
      
      <input class="tbox" type="text" id="user_input" name="usr_inp" value={{input_string}}>
      <br><br>
      <input class="tbox" type="text" id="user_input_key" name="usr_inp_key" value={{input_key}}>
      <br><br>
      <input class="tbox" type="text" id="decrypt_key" name="usr_inp_dec_key" value={{input_decrypt_key}}>
      <br><br>
      <select name="methods" class="tbox">
        <option value="empty">Choose Method</option>
        <option value="modvig">Modified Vigenere</option>
        <option value="vig">Vigenere</option>
        <option value="caesar">Caesar</option>
      </select>
      <br><br>
      <button type="submit" class="button-49" id="encrypt" name="decide" value="encrypt" role="button">Encrypt</button>
      
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
      <h1 style="color:whitesmoke">OUTPUT</h1>
      <table>
       
        <tr>
          <td><input class="tbox" type="text" id="after_vigenere" name="aftvig" value={{method_encryption}}> </td>
          <td>
            <div class="tooltip">
            <button class="copybtn" type="button" onclick="c1()"><span class="tooltiptext" id="myTooltip1"></span><img id="copyimg" src="static/skins/download.png"></button>
            </div>
          </td>
          </tr>

        <tr></tr> <tr></tr> <tr></tr> <tr></tr>
     

        <tr>
          <td><input class="tbox" type="text" id="vignere_to_dsa_enc" name="vigdsacenc" value={{dsa_encryption}}></td>
          <td>
            <div class="tooltip">
            <button class="copybtn" type="button" onclick="c2()"><span class="tooltiptext" id="myTooltip2"></span>
              <img id="copyimg" src="static/skins/download.png"></button>
            </div> 
            </td>
            
        </tr>

        <tr></tr> <tr></tr> <tr></tr> <tr></tr>

        <tr>
          <td><input class="tbox" type="text" id="og_inp" value={{original_input}}></td>
          <td>
            <div class="tooltip">
            <button class="copybtn" type="button" onclick="c3()"><span class="tooltiptext" id="myTooltip3"></span>
              <img id="copyimg" src="static/skins/download.png"></button>
              </div>
          </td>
        </tr>
        

        
      </table>
      
      <br><br>
      <button type="submit" class="button-49" id="encrypt" name="decide" value="reset" role="button">Reset</button>
    </div>
    <h3 class="time" style="color:rgb(0, 255, 85)">Runtime:{{exectime}}</h3>
  </div>
  
  
</form>

</body>
</html>


<!-- <img class="copyimg" src="static/skins/download.png"></img> -->
